@keyframes pulse {
  0% {
    border: 2px solid rgba(0, 0, 0);
  }
  50% {
    border: 2px solid rgba(60, 60, 60, 0.5);
  }
  100% {
    border: 2px solid rgba(0, 0, 0);
  }
}

@keyframes fade-out {
  0%, 80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.container {
  width: 100vw;
  height: 100dvh;
  padding: 10px;
  text-align: center;

}

h1 {
  font-size: 2.5rem;
  font-weight: 500;
}

h2 {
  font-size: 1rem;
  margin-top: 0.5rem;
  font-weight: 300;
  line-height: 0.3rem;
}

h3 {
  font-size: 3rem;
  font-weight: 300;
}

button {
  color: rgb(51, 51, 51);
  font-family: 'Outfit', Arial, sans-serif;
  -webkit-appearance: none; /* Remove default mobile browser styling (iOS and Android) */
  -moz-appearance: none; /* Remove default mobile browser styling for Firefox */
  appearance: none; /* Ensure the appearance is consistent across all browsers */
}

.circle-button {
  width: 260px;
  height: 200px;
  margin: 10px;
  border-radius: 8px;
  background-color: #4caf4f2f;
  font-size: 2.3rem;
  font-weight: bold;
  border: 3px solid #4caf50;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  touch-action: none;
}

.circle-button:disabled {
  color: #0000001a;
  pointer-events: none;
}

.try-again-button {
  position: absolute;
  left: 50%;
  transform: translate(10%, -30%) rotate(-10deg);
  width: 125px;
  background-color: white;
  padding: 10px;
  font-size: 0.8rem;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s ease-in-out;
  animation: pulse 1.5s infinite;
}

.try-again-button:hover {
  animation: unset;
}

.reset-button {
  padding: 2px 15px;
  font-size: 0.8rem;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s ease-in-out;
}

.reset-button:disabled {
  background-color: #ccc;
  pointer-events: none;
}

.reset-button:hover {
  background-color: #d32f2f;
}

/* Confetti Wrapper */
.confetti-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Ensure clicks pass through */
  z-index: 100;
  animation: fade-out 10s ease-out forwards;
}
