@keyframes pulse {
  0% {
    border: 2px solid rgba(0, 0, 0);
  }
  50% {
    border: 2px solid rgba(60, 60, 60, 0.5);
  }
  100% {
    border: 2px solid rgba(0, 0, 0);
  }
}

.container {
  width: 100vw;
  height: 100dvh;
  margin: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
}

h2 {
  margin-top: 0.8rem;
}

button {
  color: rgb(51, 51, 51);
  -webkit-appearance: none; /* Remove default mobile browser styling (iOS and Android) */
  -moz-appearance: none; /* Remove default mobile browser styling for Firefox */
  appearance: none; /* Ensure the appearance is consistent across all browsers */
}

.circle-button {
  width: 200px;
  height: 200px;
  margin: 20px;
  border-radius: 50%;
  background-color: #4caf4f59;
  font-size: 2.3rem;
  font-weight: bold;
  border: 3px solid #4caf50;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

.circle-button:disabled {
  color: #0000001a;
  pointer-events: none;
}

.circle-button:active {
  transform: scale(1.1);
}

.try-again-button {
  position: absolute;
  left: 50%;
  transform: translate(10%, 10%) rotate(-10deg);
  width: max-content;
  background-color: white;
  padding: 10px 20px;
  font-size: 0.8rem;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s ease-in-out;
  animation: pulse 1.5s infinite;
}

.try-again-button:hover {
  animation: unset;
}

.reset-button {
  padding: 5px 10px;
  margin-top: 5px;
  font-size: 0.6rem;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s ease-in-out;
}

.reset-button:disabled {
  background-color: #ccc;
  pointer-events: none;
}

.reset-button:hover {
  background-color: #d32f2f;
}
